.top-container{
    text-align: center;
    background-color: #F9F9C5;
    font-family: 'Montserrat', sans-serif;
}
img{
    margin: 7% 15%;
}
.eng-img, .hin-img, .mah-img{
    width: 18.75rem;
    border-radius: 100%;
}
#englishBox-carousel, #hindiBox-carousel, #marathiBox-carousel{
    background-color: transparent;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
p{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #FBA1A1;
    margin: 0 25%;
}
h2{
   
    text-align: center;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #66BFBF;
   color: black;
   font-weight: bolder;
   margin: 1.5rem 25%;
}
.heading{
    padding: 2rem;
    font-weight: 37.5rem;
    font-size: 5rem;
    color: #810955;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color:yellow;
    background-color: transparent;
    text-decoration: none;
}
body{
    
    background-color: aliceblue;
    background-image: url("images/newsspaper.jfif");
    
}
h3{
    line-height: 2;
    color: #610C63;
    font-weight: bold;
}
