.top-container{
    text-align: center;
    background-color: #2F8F9D;
    font-family: 'Montserrat', sans-serif;
}
img{
    margin: 7% 15%;
}
.eng-img, .hin-img, .mah-img{
    width: 300px;
    border-radius: 100%;
}
#englishBox-carousel, #hindiBox-carousel, #marathiBox-carousel{
    background-color: #3BACB6;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
p{
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
h2{
   
    text-align: center;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #B3E8E5;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;;
}
.heading{
    padding: 2rem;
    font-weight: 600px;
    font-size: 5rem;
    color: #FFC54D;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color:yellow;
    background-color: transparent;
    text-decoration: none;
}
body{
    margin: 0 7%;
    background-color: aliceblue;
}
h3{
    line-height: 2;
}